<style>
  ion-label {
    color: rgb(133, 125, 125);
  }

  ion-item {
    border-bottom: 1px solid rgb(241, 233, 233);
  }

  .error {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: red;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
  }

  img {

    display: block;
    margin: 0 auto;
    margin-top: 15%;

  }

  button {
    padding-right: 5em;
    padding-left: 5em;
  }
</style>
<ion-content>
  <form padding-horizontal>
    <!-- <img src="assets/imgs/login.png" alt="USER"> -->
    <img src="assets/imgs/splashscreen.png" alt="USER">
    <br>

    <ion-item padding-horizontal>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="tel" [(ngModel)]="login.mobileNum" [attr.maxlength]="10" name="telNo" id="tel"></ion-input>
    </ion-item>
    <p class="error" *ngIf="status">* incorrect username or password</p>
    <div padding text-center>
      <!-- <button ion-button padding block color="priamry" type="submit" (click)="Submit(login)">SEND OTP</button> -->
      <button type="submit" ion-button color="agri" (click)="Submit(login)">SEND OTP</button>
    </div>
  </form>
</ion-content>