<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Notification Report</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-label style="color:rgb(190, 184, 184)" item-start>Device Id:
            <span>&nbsp;&nbsp;{{device_id}}</span>
            <!-- <ion-input item-start type="number" [(ngModel)]="device_id" [disabled]="true">{{device_id}}</ion-input> -->
        </ion-label>

        <ion-datetime item-start type="number" [(ngModel)]="date" [disabled]="true">{{date}}</ion-datetime>

    </ion-row>

    <p *ngIf="logdata" style="text-align:center;margin-top:30px;color:grey">
        <br>
        <br>
        <img src="assets/imgs/Nodata.png" height="80px;" width="80px;">

    </p>
    <ion-card>
        <ion-card-content *ngIf="!logdata">
            <ion-row> 
                <ion-col style="text-align:justify;color:rgb(128, 118, 118)">
                    <strong>ACTION</strong>
                </ion-col>
                <ion-col style="text-align:center;color:rgb(128, 118, 118)">
                    <strong>REASON</strong>
                </ion-col>
                <ion-col style="text-align:center;color:rgb(128, 118, 118)">
                    <strong>TIME</strong>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let log of total_array">
                <ion-col style="text-align:left;color:rgb(139, 139, 139)">
                    {{log.message}}
                </ion-col>
                <ion-col style="text-align:center;color:rgb(139, 139, 139)">
                    {{log.type}}
                </ion-col>
                <ion-col style="text-align:center;color:rgb(139, 139, 139)">
                    {{log.time}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>