<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><p style="font-size:17px;">Create New..</p></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>

        <ion-label floating>Device_Id:</ion-label>

        <ion-select [(ngModel)]="devId" [disabled]="true" (ionChange)="selectDeviceId(devId)" cancelText="Cancel" okText="Ok">
            <ion-option *ngFor="let data1 of getdevices" value="{{data1.device_id}}">{{data1.device_id}}</ion-option>

        </ion-select>
    </ion-item>

    <ion-item>

        <ion-label floating>Valves:</ion-label>
        <ion-select [(ngModel)]="Valve1" (ionChange)="onSelectValve()" multiple="true" cancelText="Cancel" okText="Ok">
            <ion-option *ngFor="let valve of valvesData" [value]="valve">{{valve.name}}</ion-option>
        </ion-select>
    </ion-item>
    <p *ngIf="userCondition" style="color:red;text-align:center">Select Maximum 8 Valves !!!</p>
    <ion-item>

        <ion-label floating>Duration:</ion-label>

        <ion-select [(ngModel)]="durData" (ionChange)="onSelectDur(durData)" cancelText="Cancel" okText="Ok">
            <ion-option *ngFor="let dur of durations" value="{{dur}}">{{dur}}</ion-option>

        </ion-select>
    </ion-item>
    <p *ngIf="durationCondition" style="color:red;text-align:center;font-size:13px;">Already Set <u>{{totalDuration}}</u> HRS.. Remain We Can Set <u>{{balanceDur}} </u> Only..</p>
    <p *ngIf="addCondition" style="color:red;text-align:center;font-size:13px;">Please Fill Duration !!!</p>


    <br>
    <!-- [disabled]="!ngForm.form.valid"  -->
    <button ion-button [disabled]="newValve" style=" border-radius: 20%;" color="primary" (click)="addNewValve(Valve1,durData,devId)" block>Add</button>
    <br>
    <button ion-button style=" border-radius: 20%;" color="primary" (click)="Cancel()" block>Cancel</button>

</ion-content>