<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <p style="font-size:17px;">Valve Report</p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>

        <ion-label floating>Device Id:</ion-label>
        <ion-select [(ngModel)]="Valve1" [disabled]="true" (ionChange)="selectDeviceId(Valve1)" cancelText="Cancel" okText="Ok">
            <ion-option *ngFor="let valve of getdevices" value="{{valve.device_id}}">{{valve.device_id}}</ion-option>
        </ion-select>
    </ion-item>
    <br>
    <ion-card style="border-top:0.4px solid grey" *ngIf="!arrayLength">
        <br>
        <ion-row color="secondary">
            <ion-col style="margin-left:10px;">
                <b>Sequence</b>
            </ion-col>
            <ion-col>
                <b>Valves</b>
            </ion-col>
            <ion-col>
                <b>Duration</b>
            </ion-col>
        </ion-row>


        <ion-row style="color: grey;" *ngFor="let data of report">
            <ion-col style="margin-left:10px;">
                {{data.sequence}}
            </ion-col>
            <ion-col>
                {{data.valves}}
            </ion-col>
            <ion-col>
                {{data.duration}}
            </ion-col>

        </ion-row>

    </ion-card>

    <p style="text-align:center;margin-top:100px;" *ngIf="arrayLength">
        <img src="http://www.solartiger.in/images/NoDataFound.png" height="100px" width="100px">
    </p>
</ion-content>