<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <p style="font-size:17px;">Emergency Mode</p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Device Id: </ion-label>
        <ion-input type="text" [disabled]="true" [(ngModel)]="device_id"></ion-input>
    </ion-item>
    <ion-row>
        <ion-item>
            <button ion-button style="width:50%;padding:18px" type="submit" (click)="device_On()" color="secondary">ON</button>
            <button ion-button style="width:50%;padding:18px" type="submit" (click)="device_Off()" color="danger">OFF</button>
        </ion-item>
        <ion-item>
            <p *ngIf="status" style="color:green">The Device is in ON state</p>
            <p *ngIf="!status" style="color:firebrick">The Device is in OFF state</p>
        </ion-item>
    </ion-row>
</ion-content>