page-home {
    $colors: (
        primary:    rgb(37, 163, 201),
        secondary:  #297226,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        color1: #15c178,
        color2: #8B4789,
        color3 : #07904d,
        color4: #673665,
        brown: #B75E33,
        ycBlue: #638AF1
      );
    //   $fab-size: 70px;
    .fab[mini] {
        margin: 8px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
