<!-- <ion-header>
  <ion-navbar hideBackButton color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-toolbar color="primary" hideBackButton>

  <button ion-button menuToggle start>

    <ion-icon name="menu"></ion-icon>


  </button>
  <ion-title>
    <p style="font-size:17px;">Add Valves</p>
  </ion-title>
</ion-toolbar>

<ion-content padding>

  <p *ngIf="!showContent" style="text-align:center;margin-top:200px;color:grey">


    Mannual Mode Enabled Instead of Auto Mode..
    <br>
    <br>
    <img src="assets/imgs/Nodata.png" height="80px;" width="80px;">

  </p>

  <div *ngIf="showContent">
    <ion-item style="margin-top:60px;">
      <ion-label>Device Id:</ion-label>
      <ion-select [(ngModel)]="Valve1" [disabled]="true" (ionChange)="selectDeviceId(Valve1)" cancelText="Cancel" okText="Ok">
        <ion-option *ngFor="let valve of getdevices" value="{{valve.device_id}}">{{valve.device_id}}</ion-option>
      </ion-select>
    </ion-item>
    <br>

    <ion-row *ngIf="!satrtTimeShow">
      <ion-col width-50 style="margin-left:10px;color:rgb(196, 196, 196);font-size:15px;">
        <ion-label>Sequence Time Enable</ion-label>
      </ion-col>
      <ion-col width-40>
        <ion-toggle style="float:right;" [disabled]="timePick" (ionChange)="sequenceMode(sequenceToggle)" [(ngModel)]="sequenceToggle"
          color="primary" checked="true"></ion-toggle>
      </ion-col>
    </ion-row>
    <br>

    <ion-row *ngIf="satrtTimeShow">
      <ion-col width-100>
        <ion-item>
          <ion-label>Start Time</ion-label>

          <ion-datetime [disabled]="timePick" displayFormat="h:mm:00" (ionChange)="selectTime(Valve1,timeStarts)" pickerFormat="HH mm ss"
            [(ngModel)]="timeStarts"></ion-datetime>

        </ion-item>
      </ion-col>
      <!-- <ion-col width-50>
        <ion-toggle style=float:right [disabled]="client_status" color="secondary" [(ngModel)]="idTrue" (ionChange)="setOnOff(idTrue)"
          checked="{{idTrue}}"></ion-toggle>

      </ion-col> -->
    </ion-row>





    <!-- 
  <ion-item>
    <ion-label>Start Time</ion-label>

    <ion-datetime [disabled]="true" displayFormat="h:mm:00" (ionChange)="selectTime(Valve1,timeStarts)" pickerFormat="h mm ss"
      [(ngModel)]="timeStarts"></ion-datetime>

  </ion-item> -->

    <br>

    <!-- <ion-item>

    <ion-label stacked>Device Id:</ion-label>
    <ion-select [(ngModel)]="Valve1" (ionChange)="selectDeviceId(Valve1)" cancelText="Cancel" okText="Ok">
      <ion-option *ngFor="let valve of getdevices" value="{{valve.device_id}}">Device Id {{valve.device_id}}</ion-option>
    </ion-select>
  </ion-item> -->
    <br>
    <p style="text-align:center" *ngIf="arrayLength">
      <img src="http://www.solartiger.in/images/NoDataFound.png" height="100px;" width="100px;">
    </p>

    <div *ngIf="arrayLength1">
      <div *ngIf="!client_status">
        <ion-card *ngFor="let data of report">

          <!-- *ngFor="let data of report" -->

          <ion-card-header color="danger">
          </ion-card-header>

          <ion-card-content>

            <ion-row>

              <ion-col>
                Sequence
              </ion-col>
              <ion-col>
                Valves
              </ion-col>
              <ion-col>
                Duration
              </ion-col>
              <ion-col *ngIf="data.valves!=0 || data.valves!='null' || data.valves!=null">
                Action
              </ion-col>
              <!-- <ion-col *ngIf="data.valves==0 || data.valves=='null' || data.valves==null">
                Action
              </ion-col> -->
            </ion-row>
            <ion-row>

              <ion-col>
                <p style="color:grey;">{{data.sequence}}</p>
              </ion-col>
              <ion-col>
                <p style="color:grey;">{{data.valves}}</p>
              </ion-col>
              <ion-col>
                <p style="color:grey;">{{data.duration}}</p>
              </ion-col>
              <ion-col *ngIf="data.valves!='null' && data.valves!=0">
                &nbsp;&nbsp;

                <ion-icon name="trash" color="primary" item-end style="font-size:25px;" (click)="remove(data.sequence,Valve1)"></ion-icon>


              </ion-col>
              <ion-col *ngIf="data.valves==0 ||  data.valves=='null' || data.valves==null">
                &nbsp;&nbsp;
                <ion-icon name="eye" color="primary" item-end style="font-size:25px;"></ion-icon>

              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!-- <ion-card> -->
    <!-- <ion-icon name="backspace" style="float:right;"></ion-icon> -->
    <!-- <ion-item>
              <ion-badge item-end> <ion-icon name="remove"></ion-icon></ion-badge>
            </ion-item>
          <ion-item>
             
            <ion-label floating>Valves:</ion-label>
            <ion-select [(ngModel)]="toppings" multiple="true" cancelText="Cancel" okText="Ok">
              <ion-option value="bacon" selected="true">Bacon</ion-option>
              <ion-option value="olives">Black Olives</ion-option>
              <ion-option value="xcheese" selected="true">Extra Cheese</ion-option>
              <ion-option value="peppers">Green Peppers</ion-option>
              <ion-option value="mushrooms">Mushrooms</ion-option>
              <ion-option value="onions">Onions</ion-option>
              <ion-option value="pepperoni">Pepperoni</ion-option>
              <ion-option value="pineapple">Pineapple</ion-option>
              <ion-option value="sausage">Sausage</ion-option>
              <ion-option value="Spinach">Spinach</ion-option>
            </ion-select>
          </ion-item> -->


    <!-- <ion-item>
              <ion-label floating>Duration:</ion-label>
              <ion-select [(ngModel)]="toppings" multiple="true" cancelText="Nah" okText="Okay!">
                <ion-option value="bacon" selected="true">Bacon</ion-option>
                <ion-option value="olives">Black Olives</ion-option>
                <ion-option value="xcheese" selected="true">Extra Cheese</ion-option>
                <ion-option value="peppers">Green Peppers</ion-option>
                <ion-option value="mushrooms">Mushrooms</ion-option>
                <ion-option value="onions">Onions</ion-option>
                <ion-option value="pepperoni">Pepperoni</ion-option>
                <ion-option value="pineapple">Pineapple</ion-option>
                <ion-option value="sausage">Sausage</ion-option>
                <ion-option value="Spinach">Spinach</ion-option>
              </ion-select>
            </ion-item>
   
        </ion-card>  -->


  </div>
  <ion-fab bottom right>
    <button ion-fab mini color="blue" [disabled]="!showContent" (click)="addNewValve(valuves)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<!-- <ion-footer>


    <ion-toolbar color="secondary">


        <ion-segment [(ngModel)]="selectedSection" color="light">
            <ion-segment-button value="tabButtonOne" (click)="selectSequence()">
              Sequence
            </ion-segment-button>
            <ion-segment-button value="tabButtonTwo" (click)="selectTimer()">
                Timer
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-footer> -->