<style>
    p {
        white-space: normal;

    }

    .text {
        color: #696969;
        font-size: 16px;
    }

    ion-content {
        border-top: 15px solid white;
    }

    .submit_button {
        text-align: center;
    }

    button {
        padding-right: 5em;
        padding-left: 5em;
        margin-top:20px;
    }
</style>
<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <ion-title>
            Verification
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form style="vertical-align:middle">
        <ion-list>
            <img src="assets/imgs/otp.png" alt="CRISP" height="120" style="display:block;margin:auto">
        </ion-list>
        <div class="otp_content">
            <div class="test">
                <ion-item class="para">
                    <p class="text"> Please check your phone
                        <b>+91{{mobileNum_storage}}</b>
                    </p>
                    <p class="text">You have received a message from us with your passcode</p>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="lock" color="primary"></ion-icon>
                    </ion-label>
                    <ion-input type="tel" [attr.maxlength]="4" name="verifyOTP" placeholder="Enter OTP" [(ngModel)]="send_otp"></ion-input>
                </ion-item>
                <div class="submit_button">
                    <button ion-button type="submit" color="agri" (click)="sendOTP(send_otp)">VERIFY OTP</button>
                </div>
            </div>
            <p *ngIf="!valid" style="color:red;text-align:center;">*Invalid OTP</p>
        </div>
    </form>
</ion-content>