<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .card {
    text-align: center;
  }

  .r-phase {
    border: 2px solid #F1948A;
    font-weight: 400;
  }

  .y-phase {
    border: 2px solid #F4D03F;
    margin-top: 10px;
    font-weight: 400;
  }

  .b-phase {
    border: 2px solid #3498DB;
    margin-top: 10px;
    font-weight: 400;
  }

  .r-head {
    background-color: #E74C3C;
    color: white;
  }

  .y-head {
    background-color: #F4D03F;
    color: white;
  }

  .b-head {
    background-color: #3498DB;
    color: white;
  }

  .volt-current {
    text-align: center
  }

  .img {
    border-radius: 4px;
    float: left;
  }

  .cardheader {
    color: #839192;
  }

  .card_full {
    background-color: #E5E7E9;
  }

  .content_p {
    color: #979A9A;
    margin-left: 10px;
  }

  .units {
    font-weight: bolder;
  }

  ion-footer {
    background-color: #488aff;
  }
</style>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">

    <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Last Sync <i>@</i> {{refresh |date:'HH:mm'}} ">{{refresh | date:"HH:mm"}}
      <p style="text-align:center"></p>
    </ion-refresher-content>
  </ion-refresher>
  <ion-row style="height:140px;">
    <ion-card class="r-phase card" col>
      <ion-card-header class="r-head">
        R-&empty;
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="r-volt volt-current">
            {{dashboard_details?.r_volt}}
            <b>&nbsp;V</b>
            <!-- <span class="units">V</span> -->
          </ion-row>
          <ion-row class="r-amp volt-current">
            {{dashboard_details?.r_ahms}}
            <b>&nbsp;A</b>
            <!-- <span class="units">A</span> -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card col class="y-phase card volt-current">
      <ion-card-header class="y-head">
        Y-&empty;
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="y-volt volt-current">
            {{dashboard_details?.y_volt}}
            <b>&nbsp;V</b>
            <!-- <span class="units">V</span> -->
          </ion-row>
          <ion-row class="y-amp volt-current">
            {{dashboard_details?.y_ahms}}
            <b>&nbsp;A</b>
            <!-- <span class="units">A</span> -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card col class="b-phase card volt-current">
      <ion-card-header class="b-head volt-current">
        B-&empty;
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="b-volt volt-current">
            {{dashboard_details?.b_volt}}
            <b>&nbsp;V</b>
            <!-- <span class="units">V</span> -->
          </ion-row>
          <ion-row class="b-amp volt-current">
            {{dashboard_details?.b_ahms}}
            <b>&nbsp;A</b>
            <!-- <span class="units">A</span> -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card fullscreen class="card_full">
      <ion-avatar col-4 class="img">
        <img src="assets/imgs/motor.png" alt="VALVE">
      </ion-avatar>
      <div>
        <ion-card-header class="cardheader">
          <span start> Motor Status :
            <span>
              <ion-badge *ngIf="status" style="font-size:13px" color="secondary">ON</ion-badge>
              <ion-badge *ngIf="!status" style="font-size:13px" color="danger">OFF</ion-badge>
            </span>
          </span>
        </ion-card-header>
        <ion-card-content class="card_content">
          <p class="content_p" *ngIf="!valve_status">Run Time : {{motor_time}}</p>
          <p class="content_p" *ngIf="!valve_status">Run Date : {{split[0]}}</p>
          <p class="content_p" *ngIf="valve_status">All Sequence Completed </p>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card fullscreen class="card_full">
      <ion-avatar col-4 class="img">
        <img src="assets/imgs/valve.png" alt="VALVE" style="padding:12px;">
      </ion-avatar>
      <div>
        <ion-card-header class="cardheader">
          <span start> Sequence Number :
            <span>
              <ion-badge style="font-size:15px" color="primary"> {{dashboard_details?.sequence}}</ion-badge>
            </span>
          </span>
        </ion-card-header>
        <ion-card-content class="card_content">
          <p class="content_p" *ngIf="!valve_status">Valves: {{dashboard_details?.valves}}</p>
          <p class="content_p" *ngIf="!valve_status">Run Time : {{dashboard_details?.duration }}</p>
          <p class="content_p" *ngIf="valve_status">No Sequence Detected</p>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card fullscreen class="card_full">
      <ion-avatar col-4 class="img">
        <img src="assets/imgs/modes.png" alt="VALVE" style="padding:12px;">
      </ion-avatar>
      <div>
        <ion-card-header class="cardheader">
          Modes&nbsp;&nbsp;
        </ion-card-header>
        <ion-card-content class="card_content">
          <p class="content_p" *ngIf="mannualMode">Manual Mode Enabled</p>
          <p class="content_p" *ngIf="autoMode">Auto Mode Enabled</p>
          <p class="content_p" *ngIf="autoTimer">Timer Enabled</p>
          <p class="content_p" *ngIf="autoSequence">Auto Sequence Enabled</p>
          <p class="content_p" *ngIf="(sequence_status)">Status: Activated</p>
        </ion-card-content>
      </div>
    </ion-card>

  </ion-row>
  <ion-footer>
    <p style="font-size:12px;margin-left:10px;color:white">Electricty resume
      <span style="font-weight:normal">
        <em>@</em> {{split_elect_time[0]}}&nbsp;&nbsp;{{electricity_time}}</span>
    </p>
  </ion-footer>
</ion-content>






















<!-- 
  <style>
    .frst_half {
      height: 35%;
      background-color: #488aff;
      position: relative;
      width: 100%;
    }
  
    .status_but {
      padding: 2em;
      border-radius: 100em;
    }
  </style>
  
  
  <ion-content>
    <div class="row frst_half">
      <ion-row style="width:100%">
        <ion-badge color="agri" style="font-size:35px;margin:auto;width:100%;background-color:#488aff">Motor status : ON
        </ion-badge>
        <p style="margin:auto;width:100%;text-align:center;padding:0px;color:white;font-size:15px;position:absolute;bottom:0">
          motor status changed at 05:28 PM 12/02/2018
        </p>
      </ion-row>
    </div>
    <div class="row secnd_half">
      <ion-row style="width:100%;text-align:center;margin-top:2em;">
        <ion-col col>
          <ion-card>
            <ion-card-content style="font-size:15px;background-color:#F1948A;color:white">
              112V
              <br> 21A
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col>
          <ion-card>
            <ion-card-content style="font-size:15px;background-color:#F1C40F;color:white">
              112V
              <br> 21A
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col>
          <ion-card>
            <ion-card-content style="font-size:15px;background-color:#5DADE2;color:white;">
              112V
              <br> 21A
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <h2>Valves:</h2>
      <ion-slides pager>
        <ion-slide>
          <ion-card style="border-radius:20px">
            <ion-row>
              <div class="col motor" style="border-right:2px solid rgb(226, 218, 218);">
                <img src="assets/imgs/valve.png" alt="MOTOR">
              </div>
              <div class="col">
                <header style="font-size:15px;color:grey;padding:5px;border-bottom:2px solid rgb(226, 218, 218);border-radius:10px;">
                  TimerNumber:06
                </header>
                <div style="margin:20px;">
                  <h4 style="font-weight:bold;color:grey;font-size:14px;">Valves</h4>
                  <p style="font-weight:bold;color:grey;font-size:14px;">
                    09-10-00-10-00
                  </p>
                  <h4 style="font-weight:bold;color:grey;font-size:14px;">Run time</h4>
                  <p style="font-weight:bold;color:grey;font-size:14px;">03:00</p>
                </div>
              </div>
            </ion-row>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="border-radius:20px">
            <ion-row>
              <div class="col motor">
                <img src="assets/imgs/valve.png" alt="MOTOR">
              </div>
              <div class="col">
  
  
              </div>
            </ion-row>
          </ion-card>
        </ion-slide>
  
      </ion-slides>
    </div>
    <ion-footer style="background-color:#488aff">
      <p style="font-size:10px;color:white;">Last Synced on 02-02-2018 05:10 PM</p>
    </ion-footer>
  </ion-content> -->


<!-- <style>
    .frst_row {
      height: 30%;
      background-color: #BC3338;
    }
  
    .second_row {
      height: 40%
    }
  
    .third_row {
      height: 30%;
      background-color: #BC3338;
    }
  
    .motor_header {
      font-size: 15px;
      text-align: center;
  
      color: white;
  
      padding: 5px;
    }
  
    .motor_details {
   
    }
  </style>
  
  <ion-content>
    <div class="frst_row">
      <ion-row>
        <ion-col col class="motor_details">
          <ion-header class="motor_header" *ngIf="dashboard_details.motor_status==0">
            Motor Status : OFF
          </ion-header>
          <ion-header class="motor_header" *ngIf="dashboard_details.motor_status==1">
            Motor Status : ON
          </ion-header>
          <div style="margin:50px;">
            <h4 style="font-weight:bold;color:white;font-size:14px;text-align:center">Run time</h4>
            <p style="font-weight:bold;color:white;font-size:14px;text-align:center">{{split[0]}}<br>{{split[1]}}</p>
            <p style="font-weight:bold;color:white;font-size:14px;text-align:center"></p>
          </div>
        </ion-col>
        <ion-col col>
          <img src="assets/imgs/motors.png" />
        </ion-col>
      </ion-row>
    </div>
    <div class="second_row">
      <ion-row>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/R-phase.png" height="35" />
          </ion-avatar>
          <p style="font-size:18px;">R-phase</p>
          <ion-note item-end>
            {{dashboard_details.r_volt}}V,21A
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/Y-phase.png" height="35" />
          </ion-avatar>
          <p style="font-size:18px;">Y-phase</p>
          <ion-note item-end>
            {{dashboard_details.y_volt}}V,21A
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/B-phase.png" height="35" />
          </ion-avatar>
          <p style="font-size:18px;">B-phase</p>
          <ion-note item-end>
            {{dashboard_details.b_volt}}V,21A
          </ion-note>
        </ion-item>
        <ion-item>
          <p style="text-align:center">Electricty resume at : {{dashboard_details.elect_time}}</p>
        </ion-item>
      </ion-row>
    </div>
    <div class="third_row">
      <ion-row>
        <ion-col col class="motor_details">
          <ion-header class="motor_header">
            Sequence No : {{dashboard_details.sequence}}
          </ion-header>
          <div style="margin:50px;">
  
            <h4 style="font-weight:bold;color:white;font-size:14px;text-align:center">Valves</h4>
            <p style="font-weight:bold;color:white;font-size:14px;text-align:center"> {{dashboard_details.valves}}
              <h4 style="font-weight:bold;color:white;font-size:14px;text-align:center">Run time</h4>
              <p style="font-weight:bold;color:white;font-size:14px;text-align:center"> {{dashboard_details.duration}}</p>
          </div>
        </ion-col>
        <ion-col col>
          <img src="assets/imgs/valve.png" />
        </ion-col>
      </ion-row>
    </div>
  </ion-content> -->