<ion-menu id="myMenu" [content]="content">
  <ion-header>
    <ion-navbar color="primary">

      <ion-title color="salamatism" style="text-align:center;">AgriNxt</ion-title>
      <p style="text-align:center">
        <img src="http://www.syncconsult.com/content/hr/images/agric.png" height="100px;" width="100px;">
      </p>

    </ion-navbar>

  </ion-header>

  <ion-content color="salamatism" style="margin-top:20px;">

    <button menuClose ion-item *ngFor="let p of pages" (click)="presentLoadingIos(p)">

      <ion-icon style="color:rgb(15, 122, 223)" name="{{p.icon}}" item-left></ion-icon>
      <p style="color:rgb(17, 15, 15)">{{p.title}}</p>
    </button>

  </ion-content>
  <ion-footer style="background-color:#387ef5">

    <p style="text-align:center;color:white;">Crisp Cloud Solution Pvt Ltd</p>

  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>