<!-- <style>
    img {
        display: block;
        margin: auto;
    }

    ion-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>


<ion-content>
    <img src="assets/imgs/splashscreen.png" alt "splash">
</ion-content> -->