<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <p style="font-size:17px;">Device Modes</p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <ion-row>
        <ion-col width-50 style="margin-left:20px;color:grey;font-size:16px;">
            <ion-label>Mannual Mode</ion-label>
        </ion-col>
        <ion-col width-40>
            <ion-toggle style="float:right;" (ionChange)="onSelectManual(idTrue)" color="primary" [(ngModel)]="idTrue" checked="true"></ion-toggle>
        </ion-col>
    </ion-row>
    <hr *ngIf="mannualMode" style="border-bottom:1px solid rgb(240, 240, 240)">
    <br>
    <div *ngIf="mannualMode">

        <ion-item>

            <ion-label floating>Valves:</ion-label>
            <!-- [selected]="" -->
            <ion-select [(ngModel)]="Valve1.name" (ionChange)="onSelectValve(Valve1.name)" multiple="true" cancelText="Cancel" okText="Ok">
                <ion-option *ngFor="let valve of valvesData" [selected]="valve.selected==true" [value]="valve.name">{{valve.name}}</ion-option>
            </ion-select>
        </ion-item>
        <p *ngIf="userCondition" style="color:red;text-align:center">Select Maximum 8 Valves !!!</p>
        <ion-item>

            <ion-label floating>Duration:</ion-label>

            <ion-select [(ngModel)]="durData" (ionChange)="onSelectDur(durData)" cancelText="Cancel" okText="Ok">
                <ion-option *ngFor="let dur of durations" value="{{dur}}">{{dur}}</ion-option>

            </ion-select>
        </ion-item>
        <br>
        <br>
        <ion-row style="margin-left:15px;">
            <!-- <ion-col>
                <button ion-button color="primary" (click)="Clear()" round>Clear</button>
            </ion-col> -->
            <ion-col>
                <!-- (click)="updateManualModesValue(Valve1,durData)" -->
                <button ion-button block color="primary" [disabled]="newValve" style="border-radius:20px;" (click)="updateManualModesValue(Valve1,durData)"
                    round>Send</button>
            </ion-col>
            <br>
            <!-- <ion-col>
                <button ion-button block color="primary" (click)="Clear()" style="border-radius:25px;">Clear</button>
            </ion-col> -->
        </ion-row>
        <!-- <button ion-button block color="primary" style="border-radius:25px;">Send</button>-->


    </div>
    <br>
    <br>
    <hr *ngIf="mannualMode" style="border-bottom:1px solid rgb(240, 240, 240)">
    <br>
    <ion-row>
        <ion-col width-50 style="margin-left:20px;color:grey;font-size:16px;">
            <ion-label>Auto Mode</ion-label>
        </ion-col>
        <ion-col width-40>
            <ion-toggle style="float:right;" color="primary" (ionChange)="onSelectAutoMode(idTrue1)" [(ngModel)]="idTrue1" checked="true"></ion-toggle>
        </ion-col>
    </ion-row>
    <hr *ngIf="autoMode" style="border-bottom:1px solid rgb(240, 240, 240)">
    <br>
    <br>
    <div *ngIf="autoMode">
        <ion-row>
            <ion-col width-50 style="margin-left:20px;color:grey;font-size:15px;">
                <ion-label>Sequence</ion-label>
            </ion-col>
            <ion-col width-40>
                <ion-toggle style="float:right;" (ionChange)="sequenceMode(sequenceToggle)" [(ngModel)]="sequenceToggle" color="primary"
                    checked="true"></ion-toggle>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col width-50 style="margin-left:20px;color:grey;font-size:15px;">
                <ion-label>Timer</ion-label>
            </ion-col>
            <ion-col width-40>
                <ion-toggle style="float:right;" (ionChange)="timerMode(timerToggle)" [(ngModel)]="timerToggle" color="primary" checked="true"></ion-toggle>
            </ion-col>
        </ion-row>
    </div>
    <br>
    <hr *ngIf="autoMode" style="border-bottom:1px solid rgb(240, 240, 240)">

</ion-content>