page-list {
$colors: (
  primary:    rgb(69, 20, 247),
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  color1: #15c178,
  color2: #8B4789,
  color3 : #07904d,
  color4: #673665,
  brown: #B75E33,
  color5: #b92d2d,
  ycBlue: #638AF1
);
}
