<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><p style="font-size:17px;">Device Setting</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="margin-top:20px;">
  <ion-item>
    <ion-label floating>Customer Name</ion-label>
    <ion-input type="text" [disabled]="true" [(ngModel)]="cus_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Customer Id</ion-label>
    <ion-input type="text" [disabled]="true" [(ngModel)]="cus_id"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col width-100>
      <ion-item>
        <ion-label floating>Device Id:</ion-label>
        <ion-select (ionChange)="selectDeviceId(Valve1)" [(ngModel)]="Valve1" cancelText="Cancel" okText="Ok">
          <ion-option *ngFor="let id of getdevices" value="{{id.device_id}}">{{id.device_id}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
        
        <button ion-button block color="primary" (click)="deviceSetting(Valve1)" style="border-radius:20px;margin-top:20px;margin-left:10px;margin-right:10px;">Set</button>
      
  </ion-row>

 
</ion-content>