<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <p style="font-size:17px;">Motor Setting</p>
        </ion-title>
    </ion-navbar>
    <ion-toolbar *ngIf="motorSetting" color="primary">
        <ion-segment [(ngModel)]="selectedSection" color="light">
            <ion-segment-button value="tabButtonThree" (click)="phase1Click()">
                2 Phase
            </ion-segment-button>
            <ion-segment-button value="tabButtonFour" (click)="phase2Click()">
                3 Phase
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>

    <div *ngIf="userSetting">
        <!-- <p style="text-align:center;font-size:18px;color:grey">Scaner Timer</p> -->

        <ion-row style="margin-left:5px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Dry run scan time</ion-label>
                <ion-label>No load scan time</ion-label>
            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectdryScan(user)" [(ngModel)]="user.dryScan">
                    <ion-option value="{{dryScan}}" *ngFor="let dryScan of lowVoltageScanArray">{{dryScan}}</ion-option>

                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Sec &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row style="margin-left:10px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Over load scan time</ion-label>
                <ion-label>Differential Amps</ion-label>
            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectoverLoad(user)" [(ngModel)]="user.overLoad">

                    <ion-option value="{{overLoad}}" *ngFor="let overLoad of lowVoltageScanArray">{{overLoad}}</ion-option>

                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Sec &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row style="margin-left:10px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Low voltage scan time</ion-label>
                <ion-label>High voltage scan time</ion-label>
                <ion-label>Differential voltage</ion-label>
            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectlowVolt(user)" [(ngModel)]="user.lowVolt">
                    <ion-option value="{{lowVolt}}" *ngFor="let lowVolt of lowVoltageScanArray">{{lowVolt}}</ion-option>

                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Sec &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row style="margin-left:10px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Star-Delta time</ion-label>

            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectstartDelta(user)" [(ngModel)]="user.startDelta">
                    <ion-option value="{{startDelta}}" *ngFor="let startDelta of lowVoltageScanArray">{{startDelta}}</ion-option>
                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Sec &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row style="margin-left:10px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Staring capacitor time</ion-label>

            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectstartCapacit(user)" [(ngModel)]="user.startCapacit">
                    <ion-option value="{{startCapacit}}" *ngFor="let startCapacit of lowVoltageScanArray">{{startCapacit}}</ion-option>
                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Sec &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row style="margin-left:10px;">
            <ion-col width-50 style="color: grey;">
                <ion-label>Auto start time</ion-label>

            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectautoStart(user)" [(ngModel)]="user.autoStart">
                    <ion-option value="{{autoStart}}" *ngFor="let autoStart of lowVoltageScanArray">{{autoStart}}</ion-option>
                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-60px;color:grey">Min &nbsp;A/M</p>
        </ion-row>
        <br>
        <ion-row>
            <ion-col width-50 style="color: grey;">
                <ion-label>Dry run restart time</ion-label>

            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectdryRun(user)" [(ngModel)]="user.dryRun">
                    <ion-option value="{{dryRun}}" *ngFor="let dryRun of dryRuncanArray">{{dryRun}}</ion-option>

                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-50px;color:grey">Min &nbsp;M</p>
        </ion-row>
        <br>
        <ion-row>
            <ion-col width-50 style="color: grey;">
                <ion-label>Dry run restart Nos</ion-label>

            </ion-col>

            <ion-col>
                <ion-select style="border-bottom:1px solid grey;" (ionChange)="selectdryRestart(user)" [(ngModel)]="user.dryRestarts">

                    <ion-option value="{{dryRestarts}}" *ngFor="let dryRestarts of ScanDryRestart">{{dryRestarts}}</ion-option>

                </ion-select>
            </ion-col>

            <br>
            <p style="margin-left:-50px;color:grey">Cou &nbsp;M</p>
        </ion-row>

        <br>
        <br>
        <button ion-button block color="primary" [disabled]="SaveUserSet" (click)="saveUserSettting(user)" style="border-radius:20px;">Send</button>
        <br>
        <!-- SaveUserSet -->
        <!-- <button ion-button block color="primary" (click)="clearUserSettting(user)" style="border-radius:20px;">Clear</button> -->
    </div>
    <div *ngIf="motorSetting">


        <div *ngIf="phase1">
            <!-- <p style="text-align:center;font-size:18px;color:grey">Parameter Setting</p> -->
            <br>
            <br>
            <br>
            <br>
            <ion-item>
                <ion-label>Low Voltage</ion-label>
                <ion-select interface="action-sheet" (ionChange)="selectLowVoltValue(phase2_par)" [(ngModel)]="phase2_par.lowVolt">
                    <ion-option value="{{lowVolt}}" *ngFor="let lowVolt of lowVoltageArray">{{lowVolt}}</ion-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>High Voltage</ion-label>
                <ion-select interface="action-sheet" (ionChange)="selectHighVoltValue(phase2_par)" [(ngModel)]="phase2_par.highVolt">
                    <ion-option value="{{highVolt}}" *ngFor="let highVolt of highVoltageArray">{{highVolt}}</ion-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Dry Run Current</ion-label>
                <ion-select interface="action-sheet" (ionChange)="selectDryRun(phase2_par)" [(ngModel)]="phase2_par.dryRun">
                    <ion-option value="{{dryRun}}" *ngFor="let dryRun of phase2DryRunArray">{{dryRun}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Over Load Current</ion-label>
                <ion-select interface="action-sheet" (ionChange)="selectOverLoad(phase2_par)" [(ngModel)]="phase2_par.overLoad">
                    <ion-option value="{{overLoad}}" *ngFor="let overLoad of phase2DryRunArray">{{overLoad}}</ion-option>


                </ion-select>
            </ion-item>
            <br>
            <br>
            <button ion-button block color="primary" [disabled]="SavePhase2" (click)="phase2Save(phase2_par)" style="border-radius:20px;">Send</button>
            <br>
            <!-- <button ion-button block color="primary" (click)="Clear(phase2_par)" style="border-radius:20px;">Clear</button> -->
        </div>
        <div *ngIf="phase2">
            <!-- <p style="text-align:center;font-size:18px;color:grey">Parameter Setting</p> -->
            <br>
            <br>
            <br>
            <ion-item>
                <ion-label>Low Voltage</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhaseLowVolt(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.lowVolt">
                    <ion-option value="{{lowVolt}}" *ngFor="let lowVolt of lowVoltage3phaseArray">{{lowVolt}}</ion-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>High Voltage</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhaseHighVolt(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.highVolt">
                    <ion-option value="{{highVolt}}" *ngFor="let highVolt of highVoltage3phaseArray">{{highVolt}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Differential Voltage</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhasedifferVolt(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.differVolt">
                    <ion-option value="{{differVolt}}" *ngFor="let differVolt of differVoltageArray">{{differVolt}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Dry Run Current</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhasedryCur(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.dryCur">
                    <ion-option value="{{dryRun}}" *ngFor="let dryRun of phase2DryRunArray">{{dryRun}}</ion-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Over Load Current</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhasedryLoad(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.dryLoad">
                    <ion-option value="{{overLoad}}" *ngFor="let overLoad of phase2DryRunArray">{{overLoad}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Differential Current</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhasedifferCur(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.differCur">
                    <ion-option value="{{differCur}}" *ngFor="let differCur of phase3DifferCurArray">{{differCur}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Fault CT</ion-label>
                <ion-select interface="action-sheet" (ionChange)="select3PhasefaultCt(phase2_3Phasepar)" [(ngModel)]="phase2_3Phasepar.faultCt">

                    <ion-option value="{{faultCtValue}}" *ngFor="let faultCtValue of faultCt">{{faultCtValue}}</ion-option>

                </ion-select>
            </ion-item>
            <br>
            <button ion-button block color="primary" [disabled]="SavePhase3" (click)="phase3Save(phase2_3Phasepar)" style="border-radius:20px;">Send</button>
            <br>
            <!-- <button ion-button block color="primary" (click)="clear3Phase(phase2_3Phasepar)" style="border-radius:20px;">Clear</button> -->

            <br>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="motorSetting">
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="selectedSection" color="light">
            <ion-segment-button value="tabButtonSix" (click)="userClick()">
                Scanner
            </ion-segment-button>
            <ion-segment-button style="font-size:15px;border-bottom:2px solid white;" value="tabButtonSeven" (click)="motorClick()">
                <b>Parameter</b>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="userSetting">


    <ion-toolbar color="primary">


        <ion-segment [(ngModel)]="selectedSection" color="light">
            <ion-segment-button value="tabButtonOne" (click)="userClick()">
                Scanner
            </ion-segment-button>
            <ion-segment-button value="tabButtonTwo" (click)="motorClick()">
                Parameter
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
    </ion-footer>